{% comment %}
  Snippet can be used in section
  eg. {% include 'include-featured-collection' %}
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% comment %}Logic and variables{% endcomment %}
{% assign id = object.id %}
{% assign limit = object.settings.products_limit %}
{% assign col = object.settings.collection %}
{% assign products = collections[col].products %}
{% assign products_per_row  = object.settings.products_per %}
{% assign align_height = object.settings.align_height %}
{% assign height = object.settings.collection_height %}
{% assign width = object.settings.width %}
{% assign show_gutter = object.settings.show_gutter %}
{% assign padding_top = object.settings.padding_top %}
{% assign padding_bottom = object.settings.padding_bottom %}
{% assign animation = object.settings.animation | default: 'none' %}
{% comment %}Advanced{% endcomment %}
{% assign css_class = object.settings.css_class %}
{% assign custom_css = object.settings.custom_css %}

{% comment %} Assign product length to be selected limit for onboarding {% endcomment %}
{% if col != blank and products != blank %}
  {%- assign section_onboarding = false -%}
{% else %}
  {%- assign section_onboarding = true -%}
{% endif %}

{% comment %} Check to see if enough products available to create slide {% endcomment %}
{% if object.settings.collection_style == 'slider' %}
  {% if object.settings.products_limit > products_per_row and collections[col].all_products_count > products_per_row %}
    {% assign layout = 'slider' %}
  {% else %}
    {% assign layout = 'grid' %}
  {% endif %}
{% else %}
  {% assign layout = 'grid' %}
{% endif %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ css_class }}
                is-width-{{ width }}
                {% if show_gutter == false %}
                  has-no-side-gutter
                  has-background
                {% else %}
                  has-gutter-enabled
                {% endif %}
                "
                {% if animation != "none" %}
                  data-scroll-class="{{ animation }}"
                {% endif %}>
  {% if object.settings.title != blank %}
    <div class="section-header">
      {% include 'heading', title: object.settings.title, heading_tag: 'h2', context: 'featured-collection', text_alignment: 'center', url: collections[col].url %}
      <p>{{ section.settings.sub_heading }}</p>  
  </div>
  {% endif %}

  <div class="container has-column-padding-bottom featured-collection layout--{{ layout }} masonry--{{ object.settings.enable_masonry_layout }} is-justify-center">
    
    <div class="products-column">
    {% if section_onboarding == false %}
      {% comment %} Loop through products {% endcomment %}
      {% if layout == 'slider' %}
        {% if collections[col].all_products_count > 0 %}
          {% include 'product-slider', show_gutter: show_gutter %}
        {% endif %}
      {% else %}
        {% if collections[col].all_products_count > 0 %}
          {% include 'product-loop', align_height: align_height, height: height %}
        {% endif %}
      {% endif %}
    {% else %}
      {% comment %} Placeholder images {% endcomment %}
      {% for i in (1..10) %} <!--@TODO make sure the section onboarding also shows slider styles -->
        <div class="collection__item
          	one-fifth
            medium-down--one-half
            thumbnail column">
          {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
          {{ 'product-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
        </div>
      {% endfor %}
    {% endif %}
    </div>
    
    <div class="image-column">
      <a href="{{section.settings.image_link}}"><img src="{{ section.settings.right_image | img_url : 'master' }}" alt="{{section.settings.right_image.alt}}" /></a>
      <h2>{{section.settings.image_heading}}</h2>
      <div class="best-seller-wrap is-relative">
        <div class="image-element__wrap">
          {% if section.settings.show_best_seller %}
          <span class="icon best-seller-img">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="154px" height="154px" viewBox="0 0 154 154" version="1.1">
                <title>button/1</title>
                <defs>
                    <filter color-interpolation-filters="auto" id="filter-1">
                        <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0"/>
                    </filter>
                </defs>
                <g id="button/1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g filter="url(#filter-1)" id="Group-38">
                        <g transform="translate(4.000000, 3.000000)">
                            <path d="M48.0563174,0 C50.7698475,8.45604461 50.2115671,10.542149 43.6487779,16.5243955 C52.0948648,13.8021373 54.1794309,14.3590719 60.1456029,20.9294606 C57.4344689,12.4722157 57.9915512,10.3837107 64.5543404,4.40146424 C56.1082536,7.12372246 54.0248855,6.56918838 48.0563174,0" id="Fill-1" fill="#000000"/>
                            <path d="M28.5859907,17.8108665 C28.1606912,18.9451408 27.923482,19.1215835 26.7170693,19.2032032 C27.8492044,19.6305065 28.0241162,19.8669637 28.1067801,21.0768562 C28.5320795,19.9413817 28.7680907,19.764939 29.9745034,19.6845196 C28.8423683,19.2572162 28.6674565,19.0207591 28.5859907,17.8108665" id="Fill-3" fill="#000000"/>
                            <path d="M11.5585597,74.6605724 C10.7415057,74.8310136 10.5510194,74.7577959 10.0574325,74.084433 C10.2287503,74.903031 10.1556707,75.0926768 9.48357782,75.5871964 C10.3006319,75.4167552 10.4887221,75.4887726 10.984705,76.164536 C10.8121892,75.3447378 10.8852688,75.1550919 11.5585597,74.6605724" id="Fill-5" fill="#000000"/>
                            <path d="M76.7486928,19.5832151 C77.3165574,18.9686665 77.5130338,18.9182543 78.3049293,19.1823181 C77.6939358,18.6133806 77.6436186,18.416533 77.9059864,17.6219408 C77.3381219,18.2364894 77.1416455,18.2869016 76.34975,18.0228378 C76.9619416,18.5917753 77.0122587,18.7886229 76.7486928,19.5832151" id="Fill-7" fill="#000000"/>
                            <path d="M128.89698,32.2271139 C127.809033,36.9535366 126.96695,37.7787361 122.221782,38.7455744 C126.93929,39.8355767 127.75986,40.68233 128.721802,45.4364645 C129.812822,40.7100419 130.654905,39.8848424 135.400073,38.9210832 C130.682564,37.8280017 129.861995,36.9812485 128.89698,32.2271139" id="Fill-9" fill="#000000"/>
                            <path d="M10.4414529,100.29349 C12.6764466,111.606929 11.6505788,114.213355 2.30819197,120.934791 C13.5908481,118.69936 16.1904688,119.730952 22.9011175,129.100455 C20.6661239,117.787016 21.6938809,115.178698 31.038157,108.459155 C19.7536117,110.694586 17.1521017,109.662994 10.4414529,100.29349" id="Fill-11" fill="#000000"/>
                            <path d="M115.225207,111.158757 C110.580256,118.271274 108.700521,119.114451 100.322817,117.827697 C107.414286,122.4776 108.252056,124.3628 106.965821,132.763981 C111.608863,125.651465 113.492415,124.8102 121.868211,126.096953 C114.77865,121.44705 113.938971,119.559939 115.225207,111.158757" id="Fill-13" fill="#000000"/>
                            <path d="M132.316517,99.9135983 C131.347313,100.895436 131.020252,100.968653 129.727581,100.492138 C130.707567,101.463173 130.779449,101.789652 130.303832,103.087166 C131.271838,102.104128 131.598899,102.032111 132.891569,102.507426 C131.912782,101.537591 131.8409,101.209912 132.316517,99.9135983" id="Fill-15" fill="#000000"/>
                            <path d="M125.278111,87.9528263 C125.275715,89.055893 125.129556,89.2803473 124.128005,89.734057 C125.227794,89.7376579 125.453023,89.8840933 125.905877,90.8887362 C125.908273,89.7856695 126.054432,89.5612152 127.05718,89.1075055 C125.956194,89.1039046 125.730965,88.9574692 125.278111,87.9528263" id="Fill-17" fill="#000000"/>
                            <path d="M40.074346,130.123583 C39.2632821,132.540967 38.7804774,132.928661 36.2502454,133.190324 C38.6606748,134.001721 39.0464393,134.486638 39.3076091,137.022851 C40.118673,134.605467 40.6014777,134.218973 43.1317097,133.95731 C40.7212803,133.144713 40.3355158,132.659796 40.074346,130.123583" id="Fill-19" fill="#000000"/>
                            <path d="M8.4161362,46.1455176 C11.1116958,47.1441591 13.3544015,50.1436844 12.834458,53.6833402 C12.4714559,56.1643401 10.4336128,59.3091005 6.28963916,59.6259771 C9.59379626,60.8046621 14.2433371,59.8060206 16.8801935,55.9650919 C18.9803339,52.9055522 19.0534136,48.3624537 16.5842809,45.1468762 C13.9270581,41.6852392 9.60697455,40.5713698 5.57681339,42.126946 C4.41712373,42.5746542 3.39640514,43.2660214 2.51465764,44.1530359 C1.34538377,45.3305206 0.531923769,46.7192564 0.0742776434,48.3108412 C0.0251585566,48.4812824 0.0323467157,48.6685277 0,48.9710008 C1.9527832,46.0482941 5.36236664,45.013644 8.4161362,46.1455176" id="Fill-21" fill="#000000"/>
                            <path d="M98.6454677,29.9183406 C102.009864,32.7196061 107.883475,33.5490407 112.616845,30.1834176 C116.387495,27.5035745 118.418764,22.2157156 116.904701,17.3878935 C115.274565,12.192384 110.691407,9.03027168 105.305983,9.11920074 C103.75778,9.14485336 102.265906,9.51425101 100.852553,10.1743783 C98.9766158,11.0516977 97.431827,12.3274877 96.2130655,13.9931975 C96.0833373,14.1727658 96.0116455,14.3950885 95.8443645,14.7354132 C99.3828697,12.15305 103.81923,12.4061558 106.910515,15.0449547 C109.638219,17.3742121 110.981588,21.8497383 108.856436,25.7728781 C107.367977,28.5228384 103.63488,31.3292344 98.6454677,29.9183406" id="Fill-24" fill="#000000"/>
                            <path d="M130.873774,71.8977205 C129.686291,68.3990574 130.851069,63.7311402 134.792697,61.3858075 C137.551383,59.7388426 142.328564,59.2270095 146,63.1055665 C144.496914,58.8539401 139.737897,55.0231542 133.784585,55.5008651 C129.041462,55.8807589 124.466358,59.4863383 123.267521,64.5523479 C121.977864,70.0096254 124.368725,75.221223 129.177693,77.9851214 C130.562713,78.7790313 132.074881,79.2408184 133.671059,79.4000554 C135.791728,79.6161626 137.828387,79.3022384 139.781037,78.4719315 C139.992196,78.3832137 140.171567,78.221702 140.498522,78.0101443 C136.011968,78.4264352 132.220195,75.8627204 130.873774,71.8977205" id="Fill-26" fill="#000000"/>
                            <path d="M55.3906357,135.129873 C54.9833067,135.367531 54.8048007,135.816439 54.9162172,136.270149 C54.9473659,136.402181 55.0072672,136.52101 55.0911291,136.627836 C55.2001495,136.76947 55.3379225,136.876296 55.5020522,136.947113 C55.5188245,136.955515 55.540389,136.955515 55.5715377,136.963917 C55.2864074,136.714256 55.221714,136.333764 55.3846456,136.020489 C55.5296068,135.745622 55.8806285,135.545174 56.2532148,135.650799 C56.5131865,135.722817 56.8222774,135.98568 56.7995149,136.435789 C56.9708327,136.097307 56.9277037,135.582383 56.5527214,135.247502 C56.2544128,134.978637 55.7692121,134.90782 55.3906357,135.129873" id="Fill-29" fill="#000000"/>
                            <path d="M16.1728786,36.4950642 C16.5286925,36.4710584 16.8006445,36.2273995 16.8797143,35.8817159 C16.9012787,35.7832921 16.9012787,35.6812675 16.8809123,35.5816434 C16.8545557,35.4484112 16.7970504,35.3295824 16.7107925,35.2251572 C16.7012083,35.2155548 16.68803,35.2071528 16.6688616,35.1903488 C16.777882,35.4568132 16.6940201,35.7364808 16.4771774,35.8925185 C16.2866911,36.0305519 15.9811944,36.047356 15.7643516,35.8505084 C15.6134002,35.7136753 15.4923996,35.4304068 15.6589252,35.1339351 C15.4289042,35.3055766 15.285141,35.6680643 15.4253101,36.0209496 C15.5379246,36.3042181 15.8422233,36.5166694 16.1728786,36.4950642" id="Fill-31" fill="#000000"/>
                            <path d="M80.0143182,142.887319 C76.513106,141.587313 73.6029671,137.690421 74.2798161,133.090401 C74.7539223,129.870074 77.4036148,125.787244 82.7872159,125.377867 C78.4968663,123.843485 72.4551309,125.137241 69.027218,130.124763 C66.2964285,134.098218 66.1981762,139.998244 69.4015124,144.177949 C72.8512591,148.676407 78.462556,150.126413 83.6979989,148.109217 C85.2060934,147.529526 86.5317194,146.631085 87.677996,145.479518 C89.2001265,143.951386 90.2559487,142.148253 90.8532601,140.081056 C90.9172021,139.860743 90.9062852,139.616992 90.9483933,139.22324 C88.4094296,143.018569 83.9802793,144.360763 80.0143182,142.887319" id="Fill-33" fill="#000000"/>
                            <path d="M8.5472003,91.1305947 C8.56397268,90.2051709 7.92422652,89.12611 6.74536844,88.7888285 C5.80611566,88.5199634 4.66799048,88.8824511 4.07376933,89.7706659 C3.43282515,90.7260969 3.51908306,91.901181 4.24508712,92.7785931 C4.45354373,93.0306541 4.71111943,93.228702 5.00703198,93.3751374 C5.39878665,93.5683841 5.81330382,93.6560053 6.24818744,93.6368007 C6.29491047,93.6344001 6.34043548,93.6163957 6.41950523,93.5995917 C5.52697548,93.3559327 4.98187342,92.5901476 5.00823001,91.7307398 C5.03099251,90.9721564 5.59047089,90.1583596 6.51654538,89.9927195 C7.16467772,89.8750911 8.12070287,90.1211506 8.5472003,91.1305947" id="Fill-36" fill="#000000"/>
                        </g>
                    </g>
                </g>
            </svg>
            <span class="sppiner-text">Best Seller</span>
          </span>
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
</section>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ object.id }}"
  data-section-data
>
  {
    "enable_masonry_layout": {{ object.settings.enable_masonry_layout | json }},
    "collection_style": {{ layout | json }},
    "products_per": {{ object.settings.products_per_row | json}},
    "products_available": {{ collections[col].all_products_count | json }},
    "products_limit": {{ object.settings.products_limit | json }},
    "align_height": {{ object.settings.align_height | json }}
  }
</script>
<script data-theme-editor-load-script src="{{ 'z__jsFeaturedCollection.js' | asset_url }}"></script>
