{% assign btn_link = section.settings.btn_link %}
{% assign btn_text = section.settings.btn_text %}


<section class="featured-collection-redesign-without-image">
  <div class="featured-collection-redesign__container">
    {% if section.settings.title != blank %}
      <div class="heading-wrapper">
        <h2 class="heading-title">{{ section.settings.title }}</h2>
        {% if btn_link != blank %}
          <div class="heading_click-to-shop">
            <a class="heading-btn" href="{{ btn_link }}">{{ btn_text }}</a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  
    <div class="container featured-collection-wrapper-redesign has-column-padding-bottom featured-collection layout--{{ layout }} masonry--{{ object.settings.enable_masonry_layout }} is-justify-center">
      <div class="product-slider swiper">
        <div class="swiper-wrapper">
          {% for product in section.settings.collection.products %}
            <div class="swiper-slide">
              {% include 'product-thumbnail-redesign' %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination dots-pagination"></div>
        <div class="swiper-pagination progress-pagination"></div>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    var swiper = new Swiper(".product-slider", {
      slidesPerView: 1.1,
      spaceBetween: 10,
      centeredSlides: true,
      autoHeight: true,
      pagination: {
        el: ".dots-pagination",
        clickable: true,
      },
      breakpoints: {
        767: {
          centeredSlides: false,
          slidesPerView: 2,
          spaceBetween: 20,
          pagination: {
            el: ".progress-pagination",
            type: "progressbar",
          },
        },
        1023: {
          centeredSlides: false,
          slidesPerView: 3,
          spaceBetween: 24,
          pagination: {
            el: ".progress-pagination",
            type: "progressbar",
          },
        },
        1365: {
          centeredSlides: false,
          slidesPerView: 4,
          spaceBetween: 32,
          pagination: {
            el: ".progress-pagination",
            type: "progressbar",
          },
        }
      }
    });
  })
</script>
