<div class="mobile-menu mobile-menu--redesigned">
  <div class="mobile-menu__content">
      <div>
          <form class="search-form" action="{{ routes.search_url }}">
              <div class="search__fields">
                  {% if settings.search_option != 'everything' %}
                      <input class="visuallyhidden" type="text" name="type" value="product" />
                  {% endif %}
                  <label for="q" class="visuallyhidden">{{ settings.search_placeholder }}</label>
                  <div class="field">
                      <div class="control has-icons-left is-relative">
                          {% if settings.enable_autocomplete == true %}
                              <ul class="predictive-results"></ul>
                          {% endif %}
                          <input class="input" id="q" type="text" name="q" placeholder="Search" value="{{ search.terms }}" x-webkit-speech autocapitalize="off" autocomplete="off" autocorrect="off" />
                          <svg width="22" height="22" viewBox="0 0 22 22" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.96821 0.0294652C5.95051 0.204653 4.01025 1.11411 2.55984 2.56452C-0.0508636 5.17523 -0.737257 9.09923 0.836936 12.4142C1.27882 13.3447 1.83335 14.1285 2.57359 14.8687C5.10865 17.4038 8.8781 18.1139 12.1993 16.682C12.6978 16.4671 13.1718 16.1957 13.7195 15.8117C13.9515 15.649 14.1544 15.5159 14.1704 15.5159C14.1865 15.5159 15.6213 16.9366 17.359 18.673C19.7934 21.1056 20.5628 21.8501 20.7118 21.9171C20.9675 22.0321 21.2007 22.0276 21.469 21.9027C21.7979 21.7496 22.0025 21.4268 22.0003 21.0647C21.9981 20.6986 21.9731 20.6708 18.6683 17.3637C16.9319 15.626 15.5112 14.191 15.5112 14.1747C15.5112 14.1585 15.6386 13.9653 15.7942 13.7454C17.0733 11.9382 17.6199 9.75167 17.3362 7.57752C16.9558 4.66389 15.0919 2.11542 12.4095 0.841619C11.0468 0.194509 9.44359 -0.0986588 7.96821 0.0294652ZM9.69864 1.91445C11.2049 2.15286 12.5096 2.809 13.5504 3.85148C14.8646 5.16801 15.5568 6.8313 15.5612 8.68409C15.5629 9.37078 15.5146 9.78137 15.3592 10.4024C14.7541 12.8201 12.8154 14.7588 10.3978 15.3639C9.77669 15.5193 9.3661 15.5676 8.6794 15.5659C7.57795 15.5632 6.60234 15.3369 5.65841 14.865C3.32055 13.6964 1.84353 11.3192 1.84353 8.72522C1.84353 7.55874 2.07507 6.61584 2.62581 5.53957C3.6028 3.63043 5.52126 2.25253 7.66812 1.9181C8.20159 1.83502 9.18545 1.83326 9.69864 1.91445Z"/>
                          </svg>
                      </div>
                  </div>
                  <input type="submit" name="search" class="visuallyhidden" value="" />
              </div>
          </form>

          <ul class="mobile-menu__list has-margin-bottom">
              {% if settings.header_layout == 'vertical' %}
                  {% for block in nav_blocks %}
                      {% if block.type == 'navigation' %}
                          {% assign main_menu_mob = linklists[block.settings.main_linklist_mob] %}
                          {% include 'mobile-menu-redesigned-loop' %}
                      {% endif %}
                  {% endfor %}
              {% else %}
                  {% assign main_menu_mob = linklists[section.settings.main_linklist_mob] %}
                  {% include 'mobile-menu-redesigned-loop' %}
              {% endif %}
          </ul>
      </div>

      {% if shop.customer_accounts_enabled %}
          {% comment %} Accounts {% endcomment %}
          <div class="mobile-menu-bottom-link">
              {% if customer %}
                  {% comment %} Logout {% endcomment %}
                  <a class="btn" href="{{ routes.account_url }}" >
                      {{ 'layout.customer.my_account' | t | escape }}
                  </a>
              {% else %}
                  {% comment %} Login {% endcomment %}
                  <a class="btn" href="{{ routes.account_login_url }}" >
                      {{ 'layout.customer.log_in' | t | escape }}
                  </a>
              {% endif %}
              <div class="btn-margin"></div>
          </div>
      {% endif %}
  </div>
</div>
