{% liquid
    assign bg_color   = section.settings.bg_color
    assign image      = section.settings.image
    assign text       = section.settings.text
    assign sec_bg_mob = section.settings.sec_bg_mob
    assign sec_bg     = section.settings.sec_bg
%}

{% if sec_bg_mob != blank and sec_bg != blank %}
    <style>
        .goal-section {
            background-image: url("{{ sec_bg_mob | img_url: 'master' }}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        @media (min-width: 767px) {
            .goal-section {
                background-image: url("{{ sec_bg | img_url: 'master' }}");
            }
        }
    </style>
{% endif %}
  
<section class="goal-section" style="background-color: {{ bg_color }}">
    <div class="container">
        <div class="goal-content">
            <div class="goal-image__wrapper">
                <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}">
            </div>
            <div class="goal-content__wrapper">
                <p class="goal-content__text">{{ text }}</p>
            </div>
        </div>
    </div>
</section>
  
{% schema %}
{
    "name":"Our Goal",
    "class":"page-main has-sidebar-option",
    "settings":[
       {
          "type":"color",
          "id":"bg_color",
          "label":"Section background color"
       },
       {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
       },
       {
          "type":"textarea",
          "id":"text",
          "label":"Section text"
       },
        {
            "type": "image_picker",
            "id": "sec_bg_mob",
            "label": "Section background image (mobile)"
        },
        {
            "type": "image_picker",
            "id": "sec_bg",
            "label": "Section background image"
        }
    ],
    "presets":[
       {
          "name":"Our Goal",
          "category":"Pages"
       }
    ]
 }
{% endschema %}