{% liquid 
  assign featured_product         = collection.metafields.collection.featured_product
  assign reverse_featured_product = collection.metafields.collection.reverse_featured_product
  assign description              = collection.metafields.collection.description
  assign image                    = collection.metafields.collection.image
  assign image_mob                = collection.metafields.collection.image_mob
  assign hide_image_banner        = collection.metafields.custom.hide_image_banner
  assign sec_bg_mob               = section.settings.sec_bg_mob
  assign sec_bg                   = section.settings.sec_bg
  assign prd_with_variants        = false
%}

<style>
  {% if sec_bg_mob != blank and sec_bg != blank %}
    .collection__main-redesign {
      background-image: url("{{ sec_bg_mob | img_url: 'master' }}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media (min-width: 767px) {
      .collection__main-redesign {
        background-image: url("{{ sec_bg | img_url: 'master' }}");
      }
    }
  {% endif %}
</style>

{% paginate collection.products by section.settings.pagination_limit %}

<div class="collection__main-redesign">

  <div class="collection__container">
    <div class="collection__header">
      <div class="collection__header-top">
        <div class="collection-stars">
          {% for i in (1..3) %}
            {% include 'icon-collection-star' %}
          {% endfor %}
        </div>
        <h2 class="collection-title">{{ collection.title }}</h2>
        <div class="collection-description">{{ description | default: collection.description }}</div>
      </div>

      {% if image != blank and image_mob != blank %}
        {% unless hide_image_banner == true %}
          <div class="collection__header-image">
            <picture>
              <source srcset="{{ image | img_url: 'master' }}" media="(min-width: 767px)">
              <source srcset="{{ image_mob | img_url: 'master' }}" media="(max-width: 767px)">
              <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}">
            </picture>
          </div>
        {% endunless %}
      {% endif %}
    </div>
  
    {% if collection.products.size == 0 %}
      <div class="collection__no-matches">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% else %}
      <div class="collection__wrapper">
  
        {% if paginate.current_page == 1 and featured_product != blank %}
          <div class="collection__featured-product 
            {% if reverse_featured_product == true %}
              reverse
            {% endif %} 
          ">
            {% assign product = all_products[featured_product] %}
            {% include 'product-thumbnail-redesign' %}
          </div>
        {% endif %}
  
        {% for product in collection.products %}
          {% unless product == featured_product.value %}

             {% for variant in product.variants %}
               {% if variant.title == 'Default Title' %}
                 {% assign prd_with_variants = false %}
               {% else %}
                 {% assign prd_with_variants = true %}
               {% endif %}
             {% endfor %}

            {% if prd_with_variants %}
              {% for variant in product.variants %}
                {% include 'product-variant-thumbnail-redesign' %}
              {% endfor %}
            {% else %}
              {% include 'product-thumbnail-redesign' %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
    
    <div class="container container--pagination pagination-redesigned">
      {% include 'pagination-redesign' %}
    </div>
  </div>

</div>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ object.id }}"
  data-section-data
>
  {
    "enable_filter": {{ object.settings.collection_tags | json }},
    "enable_sorting": {{ object.settings.collection_sort | json }},
    "enable_breadcrumb": {{ object.settings.collection_breadcrumb | json}},
    "pagination_type": {{ object.settings.pagination_type | json }},
    "number_of_pages": {{ paginate.pages | json }}
  }
</script>

{% endpaginate %}


{% schema %}
{
  "name": "Collection redesign",
  "settings": [
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 4,
      "max": 30,
      "step": 1,
      "default": 20
    },
    {
      "type": "image_picker",
      "id": "sec_bg_mob",
      "label": "Section background image (mobile)"
    },
    {
      "type": "image_picker",
      "id": "sec_bg",
      "label": "Section background image"
    }
  ]
}

{% endschema %}
