{% liquid
    assign title_first_line   = section.settings.title_first_line
    assign title_second_line = section.settings.title_second_line
    assign benefits           = section.blocks | where: 'type', 'benefit'
    assign cards             = section.blocks | where: 'type', 'card'
    assign sec_bg_mob        = section.settings.sec_bg_mob
    assign sec_bg            = section.settings.sec_bg
%}

<style>
    {% for block in cards %}
        {% assign card_bg_color = block.settings.card_bg_color %}

        #hp-review-cards .hp-review-cards__container .cards-block .cards-block__inner-desk .card-item .card-item__inner #card-item__content--{{ block.id }} {
            background-color: {{ card_bg_color }};
        }

        #hp-review-cards .hp-review-cards__container .cards-block .cards-block__inner-mob .review-cards-slider .review-cards-slider__wrapper .card-item .card-item__inner #card-item__content-mob--{{ block.id }} {
            background-color: {{ card_bg_color }};
        }

        #hp-review-cards .hp-review-cards__container .cards-block .cards-block__inner-mob .review-cards-slider .review-cards-slider__wrapper .card-item .card-item__inner #card-item__content-preview--{{ block.id }} {
            background-color: {{ card_bg_color }};
        }
    {% endfor %}

    {% if sec_bg_mob != blank and sec_bg != blank %}
        #hp-review-cards {
            background-image: url("{{ sec_bg_mob | img_url: 'master' }}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        @media (min-width: 767px) {
            #hp-review-cards {
                background-image: url("{{ sec_bg | img_url: 'master' }}");
            }
        }
    {% endif %}
</style>

<section id="hp-review-cards">
    <div class="hp-review-cards__container">
        <div class="top-block">
            <div class="title-block">
                {% if title_first_line != blank %}
                    <div class="first-line">{{ title_first_line }}</div>
                {% endif %}

                {% if title_second_line != blank %}
                    <div class="second-line">{{ title_second_line }}</div>
                {% endif %}
            </div>

            <div class="items-block">
                {% for block in benefits %}
                    <div class="item">
                        <div class="icon">
                            {% render 'decor-star-icon' %}
                        </div>
                        <div class="capture">{{ block.settings.capture }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="cards-block">
            {{ cards.size }}
            <div class="cards-block__inner-desk {% if cards.size < 8 and cards.size > 6 %}cards-7{% endif %} {% if cards.size < 7 and cards.size > 5 %}cards-6{% endif %} {% if cards.size < 6 and cards.size > 4 %}cards-5{% endif %} {% if cards.size < 5 and cards.size > 3 %}cards-4{% endif %} {% if cards.size <= 3 and cards.size > 2 %}cards-5{% endif %} {% if cards.size <= 2 %}cards-2{% endif %}">
                {% for block in cards %}
                    {% liquid
                        assign img = block.settings.img
                        assign card_product = block.settings.card_product
                        assign card_rating = block.settings.card_rating
                        assign card_title = block.settings.card_title
                        assign card_subtitle = block.settings.card_subtitle
                    %}

                    <div class="card-item">
                        <div class="card-item__inner">
                            <img src="{{ img | img_url: 'master' }}" class="card-item__img" alt="{{ img.alt | escape }}">

                            <div id="card-item__content--{{ block.id }}" class="card-item__content">
                                <div class="top-side">
                                    <div class="star-rating">
                                        {% for star in (1..card_rating) %}
                                            {% render 'review-card-star' %}
                                        {% endfor %}
                                    </div>

                                    {% if card_title != blank %}
                                        <div class="title">{{ card_title | truncate: 75 }}</div>
                                    {% endif %}

                                    {% if card_subtitle != blank %}
                                    <div class="subtitle">{{ card_subtitle | truncate: 265 }}</div>
                                    {% endif %}
                                </div>

                                {% if card_product != blank %}
                                <div class="bottom-side">
                                    <div class="product-info">
                                        <a href="{{ card_product.url | within: collection }}" class="product-info__title">{{ card_product.title }}</a>

                                        <div class="product-info__price">
                                            {% if card_product.available %}
                                                <span class="capture">from</span>
                                                <span class="money">{{ card_product.price_min | money }}</span>
                                            {% else %}
                                                <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="product-img">
                                        <img src="{{ card_product.featured_media.preview_image | img_url: 'master' }}" alt="{{ card_product.title }}">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="cards-block__inner-mob">
                <div class="review-cards-slider swiper">
                    <div class="swiper-wrapper review-cards-slider__wrapper">
                        {% for block in cards %}
                            {% liquid
                                assign img = block.settings.img
                                assign card_product = block.settings.card_product
                                assign card_rating = block.settings.card_rating
                                assign card_title = block.settings.card_title
                                assign card_subtitle = block.settings.card_subtitle
                            %}

                            <div class="swiper-slide card-item">
                                <div class="card-item__inner">
                                    <img src="{{ img | img_url: 'master' }}" class="card-item__img" alt="{{ img.alt | escape }}">

                                    <div id="card-item__content-mob--{{ block.id }}" class="card-item__content card-item__content-mob">
                                        <div class="close-content-trigger">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.00008 6L10.9498 10.9497M6.00008 6L10.9498 1.05025M6.00008 6L1.05033 1.05025M6.00008 6L1.05033 10.9497" stroke="black"/>
                                            </svg>
                                        </div>

                                        <div class="top-side">
                                            <div class="star-rating">
                                                {% for star in (1..card_rating) %}
                                                    {% render 'review-card-star' %}
                                                {% endfor %}
                                            </div>

                                            {% if card_title != blank %}
                                                <div class="title">{{ card_title | truncate: 75 }}</div>
                                            {% endif %}

                                            {% if card_subtitle != blank %}
                                                <div class="subtitle">{{ card_subtitle | truncate: 265 }}</div>
                                            {% endif %}
                                        </div>

                                        {% if card_product != blank %}
                                            <div class="bottom-side">
                                                <div class="product-info">
                                                    <a href="{{ card_product.url | within: collection }}" class="product-info__title">{{ card_product.title }}</a>

                                                    <div class="product-info__price">
                                                        {% if card_product.available %}
                                                            <span class="capture">from</span>
                                                            <span class="money">{{ card_product.price_min | money }}</span>
                                                        {% else %}
                                                            <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="product-img">
                                                    <img src="{{ card_product.featured_media.preview_image | img_url: 'master' }}" alt="{{ card_product.title }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div id="card-item__content-preview--{{ block.id }}" class="card-item__content-preview">
                                        <div class="top-side">
                                            <div class="star-rating">
                                                {% for star in (1..card_rating) %}
                                                    {% render 'review-card-star' %}
                                                {% endfor %}
                                            </div>

                                            {% if card_title != blank %}
                                                <div class="title">{{ card_title | truncate: 75 }}</div>
                                            {% endif %}
                                        </div>

                                        <div class="decor-arrow">
                                            {% render 'custom-arrow-black-rotate' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination review-cards-slider-dots-pag"></div>
                    <div class="swiper-pagination review-cards-slider-progress-pag"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        var reviewCardsSlider = new Swiper(".review-cards-slider", {
            slidesPerView: 1.15,
            spaceBetween: 16,
            centeredSlides: true,
            autoHeight: true,
            pagination: {
                el: ".review-cards-slider-dots-pag",
                clickable: true,
            },
            breakpoints: {
                500: {
                    centeredSlides: false,
                    slidesPerView: 1.6,
                    spaceBetween: 20,
                    pagination: {
                        el: ".review-cards-slider-dots-pag",
                        clickable: true,
                    },
                },
                600: {
                    centeredSlides: false,
                    slidesPerView: 2,
                    spaceBetween: 20,
                    pagination: {
                        el: ".review-cards-slider-dots-pag",
                        clickable: true,
                    },
                },
                700: {
                    centeredSlides: false,
                    slidesPerView: 2.2,
                    spaceBetween: 20,
                    pagination: {
                        el: ".review-cards-slider-progress-pag",
                        type: "progressbar",
                    },
                },
                1023: {
                    centeredSlides: false,
                    slidesPerView: 3,
                    spaceBetween: 24,
                    pagination: {
                        el: ".review-cards-slider-progress-pag",
                        type: "progressbar",
                    },
                }
            }
        });

        const cardPreviews = document.querySelectorAll('.card-item__content-preview');
        const cardContentsClose = document.querySelectorAll('.card-item__content-mob .close-content-trigger');

        cardPreviews.forEach(item => {
            item.addEventListener('click', function () {
                item.previousElementSibling.classList.add('content-show');
                item.classList.add('preview-hide')
            })
        })

        cardContentsClose.forEach(item => {
            item.addEventListener('click', function () {
                let cardContent = item.parentNode
                cardContent.nextElementSibling.classList.remove('preview-hide');
                cardContent.classList.remove('content-show')
            })
        })
    })
</script>

{% schema %}
{
    "name": "Review Cards",
    "settings": [
        {
            "type": "header",
            "content": "TITLE"
        },
        {
            "type": "text",
            "id": "title_first_line",
            "label": "The first line of title"
        },
        {
            "type": "text",
            "id": "title_second_line",
            "label": "The second line of title"
        },
        {
            "type": "image_picker",
            "id": "sec_bg_mob",
            "label": "Section background image (mobile)"
        },
        {
            "type": "image_picker",
            "id": "sec_bg",
            "label": "Section background image"
        }
    ],
    "blocks": [
        {
            "type": "benefit",
            "name": "Benefit",
            "limit": 3,
            "settings": [
                {
                    "type": "text",
                    "id": "capture",
                    "label": "Capture"
                }
            ]
        },
        {
            "type": "card",
            "name": "Card",
            "limit": 8,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "color",
                    "id": "card_bg_color",
                    "label": "Background color on hover",
                    "default": "#e5b0e0"
                },
                {
                    "type": "product",
                    "id": "card_product",
                    "label": "Product"
                },
                {
                    "type": "number",
                    "id": "card_rating",
                    "label": "Number of star",
                    "default": 5
                },
                {
                    "type": "text",
                    "id": "card_title",
                    "label": "Title",
                    "info": "Max number of character is 70"
                },
                {
                    "type": "textarea",
                    "id": "card_subtitle",
                    "label": "Text",
                    "info": "Max number of character is 260"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "New HP Review Cards",
            "category": "Homepage"
        }
    ]
}
{% endschema %}