{% liquid
    assign title            = section.settings.title
    assign subtitle         = section.settings.subtitle
    assign btn_url          = section.settings.btn_url
    assign btn_text         = section.settings.btn_text
    assign img              = section.settings.img
    assign img_mob          = section.settings.img_mob
    assign bg_decor         = section.settings.bg_decor
    assign font_size_desk   = section.settings.font_size_desk
    assign font_size_tablet = section.settings.font_size_tablet
    assign font_size_mob    = section.settings.font_size_mob

    assign title_font       = section.settings.heading_font
    assign subtitle_font    = section.settings.subheading_font
    assign btn_font         = section.settings.btn_font

    assign sec_bg_mob       = section.settings.sec_bg_mob
    assign sec_bg           = section.settings.sec_bg
%}

{% if bg_decor != blank %}
<style>
    #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner .content-block {
        background-image: url("{{ bg_decor | img_url: 'master' }}");
        background-repeat: no-repeat;
        background-position: initial;
        background-size: cover;
    }
</style>
{% endif %}

<style>
    {% if sec_bg_mob != blank and sec_bg != blank %}
    #hp-hero-2 {
        background-image: url("{{ sec_bg_mob | img_url: 'master' }}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (min-width: 767px) {
        #hp-hero-2 {
            background-image: url("{{ sec_bg | img_url: 'master' }}");
        }
    }
    {% endif %}
</style>

{% unless img != blank and img_mob != blank %}
    <style>
        #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner {
            background-image: url("{{ bg_decor | img_url: 'master' }}");
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }

        #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner .content-block {
            background-image: none;
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
    </style>
{% endunless %}

<style>
    #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner .content-block .content-block__inner .title {
        font-size: {{ font_size_mob }}px;
    }

    @media (min-width: 1023px) {
        #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner .content-block .content-block__inner .title {
            font-size: {{ font_size_tablet }}px;
        }
    }

    @media (min-width: 1300px) {
        #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner .content-block .content-block__inner .title {
            font-size: {{ font_size_desk }}px;
        }
    }
</style>

{% capture section_css -%}
    #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner .content-block .content-block__inner .title {
        {% unless title_font.family contains 'Waza' %}font-family: {{ title_font.family }}, {{ title_font.fallback_families }};{% endunless %}
    }

    #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner .content-block .content-block__inner .subtitle {
    {% unless subtitle_font.family contains 'Waza' %}font-family: {{ subtitle_font.family }}, {{ subtitle_font.fallback_families }};{% endunless %}
    }

    #hp-hero-2 .hp-hero-2__container .hp-hero-2__inner .content-block .content-block__inner .content-block__btn .btn-text {
        {% unless btn_font.family contains 'Waza' %}font-family: {{ btn_font.family }}, {{ btn_font.fallback_families }};{% endunless %}
    }

    {%- capture font_settings_list -%}
        {% unless title_font.family contains 'Waza' %}
            {{ title_font | font_face: font_display: 'block' }}~
            {{ title_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'block' }}~
            {{ title_font | font_modify: 'style', 'italic' | font_face: font_display: 'block' }}~
            {{ title_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'block' }}~
        {% endunless %}
        {% unless subtitle_font.family contains 'Waza' %}
            {{ subtitle_font | font_face: font_display: 'block' }}~
            {{ subtitle_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'block' }}~
            {{ subtitle_font | font_modify: 'style', 'italic' | font_face: font_display: 'block' }}~
            {{ subtitle_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'block' }}~
        {% endunless %}
        {% unless btn_font.family contains 'Waza' %}
            {{ btn_font | font_face: font_display: 'block' }}~
            {{ btn_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'block' }}~
            {{ btn_font | font_modify: 'style', 'italic' | font_face: font_display: 'block' }}~
            {{ btn_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'block' }}~
        {% endunless %}
    {%- endcapture -%}

    {%- assign font_array = font_settings_list | split: '~' -%}

    {%- for name in font_array -%}
        {%- unless name contains 'error' -%}
            {{ name }}
        {%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}

{% style %}
    {{ section_css }}
{% endstyle %}

<section id="hp-hero-2">
    <div class="hp-hero-2__container">
        <div class="hp-hero-2__inner">
            <div class="content-block">
                <div class="content-block__inner">
                    {% if title != blank %}
                        <h2 class="title">{{ title }}</h2>
                    {% endif %}

                    {% if subtitle != blank %}
                        <div class="subtitle">{{ subtitle }}</div>
                    {% endif %}

                    {% if btn_url != blank or btn_text != blank %}
                        <a href="{{ btn_url }}" class="btn-d-2 content-block__btn">
                            <span class="btn-text">{{ btn_text }}</span>

                            <span class="decor-arr">
                            {% render 'custom-arrow' %}
                        </span>
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="img-block">
                {% if img != blank and img_mob != blank %}
                    <picture>
                        <source srcset="{{ img | img_url: 'master' }}" media="(min-width: 850px)">
                        <source srcset="{{ img_mob | img_url: 'master' }}" media="(max-width: 850px)">
                        <img src="{{ img | img_url: 'master' }}" alt="{{ img.alt }}">
                    </picture>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Hero",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "number",
            "id": "font_size_desk",
            "label": "Title font-size for desktop",
            "default": 104
        },
        {
            "type": "number",
            "id": "font_size_tablet",
            "label": "Title font-size for tablet",
            "default": 80
        },
        {
            "type": "number",
            "id": "font_size_mob",
            "label": "Title font-size for mobile",
            "default": 63
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button link"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "img_mob",
            "label": "Image (mobile)"
        },
        {
            "type": "image_picker",
            "id": "bg_decor",
            "label": "BG image for content block"
        },
        {
            "type": "header",
            "content": "Fonts"
        },
        {
            "type": "font_picker",
            "id": "heading_font",
            "label": "Heading Font",
            "info": "Diabled if set to Waza Font",
            "default": "waza_n4"
        },
        {
            "type": "font_picker",
            "id": "subheading_font",
            "label": "subheading Font",
            "info": "Diabled if set to Waza Font",
            "default": "waza_n4"
        },
        {
            "type": "font_picker",
            "id": "btn_font",
            "label": "Button Font",
            "info": "Diabled if set to Waza Font",
            "default": "waza_n4"
        },
        {
            "type": "image_picker",
            "id": "sec_bg_mob",
            "label": "Section background image (mobile)"
        },
        {
            "type": "image_picker",
            "id": "sec_bg",
            "label": "Section background image"
        }
    ],
    "presets": [
        {
            "name": "New HP Hero 2",
            "category": "Homepage"
        }
    ]
}
{% endschema %}

