{% liquid
  assign text_color  = section.settings.text_color
  assign title       = section.settings.title
  assign title_url   = section.settings.title_url
  assign header_text = section.settings.header_text
  assign insta_text  = section.settings.insta_text
  assign insta_link  = section.settings.insta_link
  assign sec_bg_mob  = section.settings.sec_bg_mob
  assign sec_bg      = section.settings.sec_bg
%}

<style>
  #insta-feed {
    width:{{section.settings.feed_width}}%;
  }
  #insta-feed h2 {
    font-size: {{section.settings.heading_size}}px;
  }

  {% if sec_bg_mob != blank and sec_bg != blank %}
    .insta-feed-redesign {
      background-image: url("{{ sec_bg_mob | img_url: 'master' }}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media (min-width: 767px) {
      .insta-feed-redesign {
        background-image: url("{{ sec_bg | img_url: 'master' }}");
      }
    }
  {% endif %}
</style>

<div class="insta-feed-redesign" style="color: {{ text_color }};">
  <div class="insta-feed-redesign__header">
    {% if title_url != blank %}
      <div class="insta-feed-redesign__title">
        <a href="{{ title_url }}">{{ title }}</a>
      </div>
      </div>
    {% else %}
      <div class="insta-feed-redesign__title">{{ title }}</div>
    {% endif %}
    <div class="insta-feed-redesign__subscribe">
      {% if header_text != blank %}
        <p class="subscribe-text">{{ header_text }}</p>
      {% endif %}
      <a class="insta" href="{{ insta_link }}">{{ insta_text }}</a>
    </div>
  </div>

  <div id="insta-feed">
  </div>
</div>

{% schema %}
  {
    "name": "Instafeed App Redesign",
    "settings":
    [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "title_url",
        "label": "Title url"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "insta_text",
        "label": "Insta name"
      },
      {
        "type": "url",
        "id": "insta_link",
        "label": "Insta url"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Color text on section",
        "default": "#000000"
      },
      {
        "type": "image_picker",
        "id": "sec_bg_mob",
        "label": "Section background image (mobile)"
      },
      {
        "type": "image_picker",
        "id": "sec_bg",
        "label": "Section background image"
      }
    ],
    "presets": [
      {
        "name":"Instafeed App Redesign",
        "category":"Instagram Feed"
      }
    ]
  }
{% endschema %}