{% liquid
  assign bg_color                           = section.settings.bg_color
  assign section_title                      = section.settings.section_title
  assign section_title_color                = section.settings.section_title_color
  assign accordion_title_first              = section.settings.accordion_title_first
  assign first_accordion_img                = section.settings.first_accordion_img
  assign accordion_title_second             = section.settings.accordion_title_second
  assign second_accordion_img               = section.settings.second_accordion_img
  assign accordion_title_third              = section.settings.accordion_title_third
  assign third_accordion_img                = section.settings.third_accordion_img
  assign accordion_bg_color                 = section.settings.accordion_bg_color
  assign accordion_tilte_color              = section.settings.accordion_tilte_color
%}

<style>

#template-page-faqnew-redesign {
  background-color: {{ bg_color }};
  padding: 80px 0 56px;
}

@media (max-width: 768px) {
  #template-page-faqnew-redesign {
    padding: 32px 0 20px;
  }
}

</style>

<section class="faq-redesign">
  <div class="faq-container">
    <h1 class="faq-redesign-title" style="color: {{ section_title_color }}">{{ section_title }}</h1>
    <div class="hair accordion-section-redesign">
      <div class="accordion-title-wrapper" style="background-color: {{ accordion_bg_color }};">
        {% if accordion_title_first != blank %}
          <img src="{{ first_accordion_img | img_url: 'master' }}" alt="" class="accordion-img">
          <h2 class="accordion-title" style="color: {{ accordion_tilte_color }};">{{ accordion_title_first}}</h2>
        {% endif %}
      </div>
      {% for block in section.blocks %}
        {% if block.type == 'hair' %}
          {% if block.settings.hair_question != blank %}
            <div class="question-content-wrapper first-content-accordion">
              <div class="accordion-redesign">
                <span class="accordion-question">{{ block.settings.hair_question }}</span>
              </div>
              <div class="accordion-panel">
                <p>
                  {{ block.settings.hair_description }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="nails accordion-section-redesign">
      <div class="accordion-title-wrapper" style="background-color: {{ accordion_bg_color }};">
        {% if accordion_title_second != blank %}
          <img src="{{ second_accordion_img  | img_url: 'master' }}" alt="" class="accordion-img">
          <h2 class="accordion-title" style="color: {{ accordion_tilte_color }};">{{ accordion_title_second }}</h2>
        {% endif %}
      </div>
      {% for block in section.blocks %}
        {% if block.type == 'nails' %}
          {% if block.settings.nails_question != blank %}
            <div class="question-content-wrapper second-content">
              <div class="accordion-redesign">
                <h3 class="accordion-question">{{ block.settings.nails_question  }}</h3>
              </div>
              <div class="accordion-panel">
                <p>
                  {{ block.settings.nails_description }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="order accordion-section-redesign">
      <div class="accordion-title-wrapper" style="background-color: {{ accordion_bg_color }};">
        {% if accordion_title_third != blank %}
          <img src="{{ third_accordion_img | img_url: 'master' }}" alt="" class="accordion-img">
          <h2 class="accordion-title" style="color: {{ accordion_tilte_color }};">{{ accordion_title_third }}</h2>
        {% endif %}
      </div>
      {% for block in section.blocks %}
        {% if block.type == 'order' %}
          {% if block.settings.order_question != blank %}
            <div class="question-content-wrapper third-content">
              <div class="accordion-redesign">
                <h3 class="accordion-question">{{ block.settings.order_question  }}</span>
              </div>
              <div class="accordion-panel">
                <p>
                  {{ block.settings.order_description }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<script>
  window.addEventListener('DOMContentLoaded', () => {

    var acc = document.getElementsByClassName("accordion-redesign");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {

        this.classList.toggle("active");

        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
          {% comment %} panel.style.padding = '0 24px' {% endcomment %}
          panel.style.margin = '0 0 0'
        } else {
          panel.style.paddingTop = '0'
          panel.style.maxHeight = panel.scrollHeight + "px";
          panel.style.margin = '0 0 16px'
        }
      });
    }


  });
</script>

{% schema %}
{
  "name":"FAQ redesign",
  "class":"page-main has-sidebar-option",
  "settings":[
      {
        "type": "color",
        "id": "bg_color",
        "label": "Section background color"
      },
      {
        "type": "color",
        "id": "section_title_color",
        "label": "Section title color"
      },
     {
        "type":"text",
        "id":"section_title",
        "label":"Section title"
     },
     {
        "type":"color",
        "id":"accordion_bg_color",
        "label":"Accordion background color",
        "default":"#000000"
     },
     {
        "type":"color",
        "id":"accordion_tilte_color",
        "label":"Accordion title color",
        "default":"#ffffff"
     },
     {
        "type":"text",
        "id":"accordion_title_first",
        "label":"First accordion title"
     },
     {
        "type":"image_picker",
        "id":"first_accordion_img",
        "label":"First accordion image"
     },
     {
        "type":"text",
        "id":"accordion_title_second",
        "label":"Second accordion title"
     },
     {
        "type":"image_picker",
        "id":"second_accordion_img",
        "label":"Second accordion image"
     },
     {
        "type":"text",
        "id":"accordion_title_third",
        "label":"Third accordion title"
     },
     {
        "type":"image_picker",
        "id":"third_accordion_img",
        "label":"Third accordion image"
     }
  ],
  "blocks":[
     {
        "type":"hair",
        "name":"hair item",
        "settings":[
           {
              "type":"text",
              "id":"hair_question",
              "label":"Question"
           },
           {
              "type":"textarea",
              "id":"hair_description",
              "label":"Description"
           }
        ]
     },
     {
        "type":"nails",
        "name":"Nails item",
        "settings":[
           {
              "type":"text",
              "id":"nails_question",
              "label":"Question"
           },
           {
              "type":"textarea",
              "id":"nails_description",
              "label":"Description"
           }
        ]
     },
     {
        "type":"order",
        "name":"Order item",
        "settings":[
           {
              "type":"text",
              "id":"order_question",
              "label":"Question"
           },
           {
              "type":"textarea",
              "id":"order_description",
              "label":"Description"
           }
        ]
     }
  ],
  "presets":[
     {
        "name":"FAQ redesign",
        "category":"Pages",
        "settings":{
           
        }
     }
  ]
}
{% endschema %}



