{% liquid
    assign bg_color                         = section.settings.bg_color
    assign background_desktop               = section.settings.background_desktop
    assign background_mobile                = section.settings.background_mobile
    assign title                            = section.settings.title
    assign desktop_content_position         = section.settings.desktop_content_position
    assign mobile_content_position          = section.settings.mobile_content_position
    assign review_description               = section.settings.review_description
    assign title_color                      = section.settings.title_color
    assign description_color                = section.settings.description_color
    assign button_text                      = section.settings.button_text
    assign button_url                       = section.settings.button_url
    assign button_text_color                = section.settings.button_text_color
    assign button_background_color          = section.settings.button_background_color
    assign button_boxshadow_color           = section.settings.button_boxshadow_color
    assign show_button_boxshadow            = section.settings.show_button_boxshadow
    assign space_betweeen_images            = section.settings.space_betweeen_images
    assign is_single_image                  = section.settings.is_single_image 
    assign text_align-left                  = section.settings.text_align-left 
    assign single_image                     = section.settings.single_image
%}

<style>
    {% if button_text_color != blank %}
        .link.reviews-button-text-color {
            color: {{ button_text_color }}
        }
      {% endif %}

      {% if button_background_color != blank %}
        .link.reviews-button-background-color {
            background-color: {{ button_background_color }}
        }
      {% endif %}

      {% if button_boxshadow_color != blank %}
        .link-boxshadow.reviews-button-boxshadow-color {
            background-color: {{ button_boxshadow_color }};
            transform: translate(0px, 0px)
        }
      {% endif %}

    .link.reviews-on-hover-translate:hover {
        transform: translate(-8px, 8px);
    }

    {%- if mobile_content_position == 'bottom-side' -%}
        .reviews-content-wrapper {
            padding-bottom: 32px !important;
        }
    {%- endif -%} 

    @media (max-width: 768px) {
        .text-align-left {
            text-align: left !important;
        }

        .space_betweeen_images {
            width: 50% !important;
        }
    }

    .image__block-wrapper-desktop {
        display: block;
    }

    .image__block-wrapper-mobile {
        display: none;
    }

    @media (max-width: 768px) {
        .image__block-wrapper-desktop {
            display: none;
        }
    
        .image__block-wrapper-mobile {
            display: block;
        }
    }

</style>

<section class='reviews-banner-section' id="reviews-banner-{{ section.id }}" style="background-color: {{ bg_color }};">
    {%- if background_desktop != 'blank' -%}
        {%- if desktop_content_position == 'right-side' -%}
            <img src="{{ background_desktop | img_url: 'master' }}" alt="" class='reviews-desktop-background' style="transform: rotate(180deg);">
        {% else %}
            <img src="{{ background_desktop | img_url: 'master' }}" alt="" class='reviews-desktop-background'>
        {%- endif -%} 
    {%- endif -%}  

    {%- if background_mobile != 'blank' -%}
        {%- if mobile_content_position == 'bottom-side' -%}
            <img src="{{ background_mobile | img_url: 'master' }}" alt="" class='reviews-desktop-mobile' style="transform: rotate(180deg);">
        {% else %}
            <img src="{{ background_mobile | img_url: 'master' }}" alt="" class='reviews-desktop-mobile'>
        {%- endif -%} 
    {%- endif -%}  

    <div class="reviews-container">
        <div class="review-wrapper
            {% if mobile_content_position == 'bottom-side' %}
                col-rev
            {% endif %}
            "
            {% if desktop_content_position == 'right-side' %}
                style="flex-direction: row-reverse;"
            {% endif %}
        >
            <div class="reviews-content-wrapper
                {% if desktop_content_position == 'right-side' %}
                    content-right
                {% endif %}
                ">
                {%- if title != blank -%}
                    <h3 class="reviews-title
                        {% if text_align-left == true %}
                            text-align-left
                        {% endif %}
                        " style="color: {{ title_color }}" >{{ title }}</h3>
                {%- endif -%}
                {%- if review_description != blank -%}
                    <p class="reviews-text
                        {% if text_align-left == true %}
                            text-align-left
                        {% endif %}
                        " style="color: {{ description_color }}" >{{ review_description }}</p>
                {%- endif -%}
                {%- if button_text != blank -%}
                    <div class="btn reviews-button ">
                        <a href="{{ button_url }}" class="link reviews-button-link reviews-button-text-color reviews-button-background-color
                            {% if show_button_boxshadow == true %}
                                reviews-on-hover-translate
                            {% endif %}
                            ">{{ button_text }}</a>
                        {% if show_button_boxshadow == true %}
                            <div class="link-boxshadow reviews-button-boxshadow-color"></div>
                        {% endif %}
                    </div>
                {%- endif -%}
            </div>
            <div class="reviews-images-wrapper 
                    {% if is_single_image == true %}
                        image-center
                    {% endif %}
                ">
                {%- if is_single_image == false -%}
                    {% for block in section.blocks %}
                        {% liquid
                            assign block_img_desktop         = block.settings.block_img_desktop
                            assign block_img_mobile          = block.settings.block_img_mobile
                        %}

                        <div class="reviews-image-wrapper
                            {% if space_betweeen_images == false %}
                                space_betweeen_images
                            {% endif %}
                            ">
                            {% comment %} <img src="{{ block_img_desktop | img_url: 'master' }}" alt="" class="reviews-image"> {% endcomment %}
                            {% comment %} {% if block_img_desktop != blank and block_img_mobile != blank %}
                                <div class="image__block-wrapper">
                                   <picture>
                                      <source srcset="{{ block_img_desktop | img_url: 'master' }}" media="(min-width: 769px)">
                                      <source srcset="{{ block_img_mobile | img_url: 'master' }}" media="(max-width: 768px)">
                                      <img src="{{ block_img_desktop | img_url: 'master' }}" alt="{{ image.alt }}">
                                   </picture>
                                </div>
                             {% endif %} {% endcomment %}
                            {% if block_img_desktop != blank and block_img_mobile != blank %}
                                <div class="image__block-wrapper-desktop">
                                    <img src="{{ block_img_desktop | img_url: 'master' }}" alt="">
                                </div>
                                <div class="image__block-wrapper-mobile">
                                    <img src="{{ block_img_mobile | img_url: 'master' }}" alt="">
                                </div>
                             {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="reviews-image-wrapper">
                        <img src="{{ single_image | img_url: 'master' }}" alt="" class="reviews-image">
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Reviews Banner",
    "class": "html-section",
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#000000"
        },
        {
            "type": "image_picker",
            "id": "background_desktop",
            "label": "Background desktop image"
        },
        {
            "type": "image_picker",
            "id": "background_mobile",
            "label": "Background mobile image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Section title"
        },
        {
            "type": "textarea",
            "id": "review_description",
            "label": "Review description"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "description_color",
            "label": "Description color",
            "default": "#ffffff"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button link"
        },
        {
            "type": "color",
            "id": "button_text_color",
            "label": "Button text color"
        },
        {
            "type": "color",
            "id": "button_background_color",
            "label": "Button background color"
        },
        {
            "type": "color",
            "id": "button_boxshadow_color",
            "label": "Button boxshadow color"
        },
        {
            "type": "checkbox",
            "id": "show_button_boxshadow",
            "label": "Show boxshadow",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "space_betweeen_images",
            "label": "Space between two images",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "text_align-left",
            "label": "Mobile content text align left",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "is_single_image",
            "label": "One image in wrapper",
            "default": false
        },
        {
            "type": "select",
            "id": "desktop_content_position",
            "label": "Desktop content position",
            "options": [
                {
                    "value": "left-side",
                    "label": "Left side"
                },
                {
                    "value": "right-side",
                    "label": "Right side"
                }
            ]
        },
        {
            "type": "select",
            "id": "mobile_content_position",
            "label": "Mobile content position",
            "options": [
                {
                    "value": "top-side",
                    "label": "Top side"
                },
                {
                    "value": "bottom-side",
                    "label": "Bottom side"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "single_image",
            "label": "Single image"
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "block_img_desktop",
                    "label": "Block desktop image"
                },
                {
                    "type": "image_picker",
                    "id": "block_img_mobile",
                    "label": "Block mobile image"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Reviews Banner",
        "category": "Homepage",
        "settings": {

        }
      }
    ]
  }
{% endschema %}
